/* Color palette */
/* dark-color: #212529; */
/* secondary-color: #9FA6B2; */

/* Start dropdown animation */
@media (min-width: 768px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
}
@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}
.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}
/* End dropdown animation */

/* Start card animation & style */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
}
.card {
    margin: 2rem 0 0 0;
    flex: 0 0 calc(20% - 1rem);
    height: 10rem;
    transition: .3s;
    position: relative;
    z-index: 0;
}
.card:hover {
    margin-top: 0;
    height: 12rem;
    z-index: 1;
    transform: translateY(1rem);
}
.btn-pilih-server {
    visibility: hidden;
}
.card:hover .btn-pilih-server {
    visibility: visible;
}
.card-container:hover .card {
    z-index: 0;
}
.card-container:hover .card:hover {
    z-index: 1;
}
/* End card animation */

/* Start body Style */
p {
    font-size: 15px;
}
/* End body style */

/* Start content style */
.pilihserver {
    padding: 0 16px 16px 16px;
}
.container-content {
    margin-top: 50px;
}
.row {
    margin-bottom: 20px;
}
/* End content style */

.pembungkus-action {
    padding-left: 30px;
    padding-right: 10px;
    width: 1000px;
}

h5.text-center {
    margin: 0;
}

.action-container {
    display: inline-block;
    box-sizing: border-box;
    width: 23%;
    margin: 5px;
    height: 45px;
    vertical-align: top;
    font-size: 13px;
    text-align: center;
}
.label-class {
    border: 1px solid #9FA6B2;;
    border-radius: 25px;
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px 10px 30px 10px;
    cursor: pointer;
    opacity: .5;
    transition: all .5s ease-in-out;
    &:hover, &:focus, &:active {
        border: 1px solid #212529;
        color: #212529;
    }
}
input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}
input[type="radio"]:active ~ label {
    opacity: 1;
}
input[type="radio"]:checked ~ label {
    opacity: 1;
    border: 1px solid #212529;
    background-color: #212529;
    color: #ffffff;
}

.dropdown-divider {
    margin-top: 40px;
}